# secret
.env
google_credentials.json

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Виртуальное окружение
venv/
.venv/
env/

# EasyOCR модели
.EasyOCR/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Временные файлы
/tmp/
*.tmp
